<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %></h2>
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@post,@post.comments.build]) do |f|%>
    <p>
        <%= f.text_area :body %>
    </p>
    <br>
    <p>
        <%= f.submit %>
    </p>
<% end %>


