<h1>Edit User Account</h1>

<%= bootstrap_form_for @user do |f| %>
    <p>
    <%= f.text_field :username %> 
</p>
<p>
    <%= f.file_field :avatar %>
</p>
<p>
    <% if @user.avatar.attached? %>
        <%= f.check_box :remove_avatar %>        
    <% end %>        
</p>
<p>
    <%= f.text_field :first_name %>
</p>
<p>
    <%= f.text_field :last_name %>
<p>
    <%= f.text_field :email_address %>
</p>
<p>
    <%= f.password_field :password %>
</p>
<p>
    <%= f.password_field :password_confirmation %>
</p> 
<p>
    <%= f.submit %>
</p>
<% end %>   
<br>
<%= link_to 'Delete user account', @user, { method: 'delete', data: {confirm: 'Are you sure?'}} %>