<h2> Create A New Account </h2>

<%= bootstrap_form_for @user do |f| %>
<p>
    <%= f.text_field :username %> 
</p>
<p>
    <%= f.text_field :first_name %>
</p>
<p>
    <%= f.text_field :last_name %>
<p>
    <%= f.file_field :avatar %>
</p> 
<p>
    <%= f.text_field :email_address %>
</p>
<p>
    <%= f.password_field :password %>
</p>
<p>
<%= f.password_field :password_confirmation %>
</p> 
<p>
    <%= f.submit %>
</p>
<% end %>
<br>
<%= link_to "Already have an account? Sign in", login_path %>
