<h1>My Profile</h1>
<br>
<p> Username: <%= @user.username%></p>
<br>
<p> Name: <%= @user.full_name%></p>
<%= image_tag(check_avatar(@user)) %>
<br>
<p> Number of posts: <%=@user.posts.count%></p>
<br>
<p> <ul><% @user.posts.each do |post| %> 
                    <li> <%= link_to post.subject, post %> </li></p>
                    <% end %></ul></p>

<%=link_to "Edit User Account", edit_user_path(@user)%>
