<% if logged_in? %>
    <div class="col-xs-1" align="center">
    <%=image_tag(check_avatar(@post.user), class:"avatar")%>
    <h6> By <%= link_to @post.user_name, user_path(@post[:user_id]) %> </h6>
    <strong><h1> <%= @post.subject %></h1></strong>
    <p> Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
        <% if  @post.user.id == session[:user_id]%>
            <%= link_to "Edit post", edit_post_path(@post[:id]) %>
        <% end %>
    <div>
    <%= image_tag(@post.image, style: "width:100%", style: "height:500px") %>
    </div>

    <div>
    <%= @post.caption %>
    </div>
    <br>
    <h4><strong><%= @post.body %></strong></h4>
    <div>
    </div>
    <br>
        <% if %>
            <% @post.comments.count < 1 %>
            <h2> No comments on this post </h2>
            <h3> Add a comment </h3>
            <%= render "comments/form" %>
        <% elsif %>
            <% @post.comments.count < 2 %>
            <h2><%= @post.comments.count %> Comment</h2>
            <%= render @post.comments %>
            <h3> Add a comment </h3>
            <%= render "comments/form" %>
        <% else %>
            <h2> <%= @post.comments.count %> Comments</h2>
            <%= render @post.comments %>
            <h3> Add a comment </h3>
            <%= render "comments/form" %>
        <% end %>
        <%= link_to 'Send a message', new_conversation_path(@post.user.id) %>
<br/>    
<% if @post.user.id == session[:user_id] %>
    <%= link_to 'Delete Post',  post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% else %>

    <h3> Please login or create an account to view details about a post or send a message to its author </h3>

<% end %>
